@inject Services.BlazorTimer Timer
@inject Services.BlazorTimer aTimer
@inject NavigationManager NavManager
@page "/"


<h1>Bonjour</h1>

Cliquez sur le bouton pour décrementer le nombre!


<p>nombre: @nombre</p>


<button @onclick="StartTimer">Start Timer</button>


@code {
    int nombre = 10; //On définit le nombre
    private void StartTimer()
    {
        Timer.SetTimer(nombre * 1000);
        Timer.OnElapsed += TimerElapsedHandler;
        Console.WriteLine("Timer Started.");
        aTimer.SetTimer(1000);
        aTimer.OnElapsed += afficher; //On lance le timer
    }

    private void afficher()
    {
        Console.WriteLine("Test : " + nombre);
        nombre--;
        this.StateHasChanged();
        if (nombre == -1)
        {
            aTimer.StopTimer();
        }                                       //On change la valeur du nombre dans le compteur et la console
    }

    private void TimerElapsedHandler()
    {
        Console.WriteLine("Timer Elapsed.");
        NavManager.NavigateTo("Counter");
        Timer.StopTimer();    //Permet de rediriger sur la page Counter et de stopper le timer
    }
}
